<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://readblobapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/44a0c970-f785-4261-8342-ce2f489a9b55/resourceGroups/Iot_ISI/providers/Microsoft.Web/sites/readBlobApp</ResourceId>
    <UserName>$readBlobApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://readblobapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>